body, html {
    background-color: #000;
    margin: 0;
    height: 100%;
}


/*---------------Snow Flakes--------------*/

#snowglobe {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

#snowglobe .flake {
    position: absolute;
    width: 1px;
    height: 1px;
    color: rgba(255,255,255,0);
    text-shadow: 0 0 6px #fff;
}​